.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-items {
  display: none;
  flex-direction: column;
  align-items: center;
  
  position: absolute;
  top: 94px;
  left: 0;
  width: 100%;
  height: 100vh;
  gap: 30px;

  color:#26233B;
  font-weight: 500;
  background-color: #FBFBFB;
  padding: 30px 0;

  z-index: 999;
}

.nav-items.open {
  display: flex;
}

.nav-item {
  cursor: pointer;
}

.menu-icon {
  display: block;
  cursor: pointer;
  color: #26233B;
  width: 40px;
  height: 40px;
}

.menu-button {
  color: #26233B;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.language-selector {
  display: flex;
  align-items: center;
  color: #5B5B5B;
}

.language-selector button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.desactive {
  color: #5B5B5B;
}
  
.active {
  color: #26233B;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0px 40px;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;

    position: static;
    width: auto;
    height: auto;
  }

  .menu-icon {
    display: none;
  } 


}